*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}
.container{
    width: 980px;
    margin: 0 auto;
}
header{
    height: 250px;
    background: #08b1ef;
}
header img{
    margin: 0;
    height: 240x;
    width: 240px;
    margin: 0 auto;
}
header p{
    align-items: center;
    padding-left: 100px;
    color:#ffee00 ;
}
nav{
    height: 50px;
    background:#08d4ef;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 50px;
    padding: 0 30px;
}
nav .menu ul li a{
    color: #fafafa;
    font-size: 20px;
    text-decoration: none;
}
nav .search{
    line-height: 20px;
    float: right;
}
div div img{
    height: 500px ;
    width: 980px;
}
div header p{
    float:right;
    padding-right: 290px;
    padding-top: 100px;
    padding-bottom: 30px;
}
article h3{
    text-align: center;
    padding: 15px 0;
    color: #0004ff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;

}
article .h3-1{
    text-align: center;
    padding: 15px 0;
    color: #0004ff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 700px;
}

article .new_list .news_item img{
    width: 260px;
    height: 260px;
    margin: 10px auto;
    align-items: center;
}
article .new_list .news_item{
    width: 26.5%;
    padding: 2%;
    float: left;
    border: 2px solid #1ba9dd;
    margin-right: 3%;
    border-radius: 15px;
    height: 500px;
}
#fixx{
    margin-right: 0;
    margin-left: 0;
    float: right
}
article .new_list .news_item h4{
    font-size: 16px;
    color: #decf00;
}


article .new_list1 .news_item1 img{
    width: 260px;
    height: 260px;
    margin: 10px auto;
    align-items: center;
}
article .new_list1 .news_item1{
    width: 26.5%;
    padding: 2%;
    float: left;
    border: 2px solid #1ba9dd;
    margin-right: 3%;
    border-radius: 15px;
    height: 500px;
}
#fixx1{
    margin-right: 0;
    margin-left: 0;
    float: right
}
article .new_list1 .news_item1 h6{
    font-size: 16px;
    color: #decf00;
}
.grid {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
}


footer{
    margin-top: 700px;
    background:#00b3ff;
    height:200px;
    
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_row{
    width: 26.5%;
    padding: 2%;
    float: left;
    margin-right: 3%;
}
#mm{
    margin-right: 0;
    margin-left: 0;
    float: right
}
.grid_column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}
.grid_column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid_column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
footer h5{
    text-align: center;
    padding: 15px 0;
    color: #fdfdfd;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}
