
@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'Poppins', sans-serif;
    cursor: pointer;
}
#wrapper #header .logo img{
    height: 100px;
    width: 100px;
}
#wrapper{
    width: 980px;
    margin: 0 auto;
}
#header{
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu {
    list-style: none;
    display: flex;
}
#menu .item{
    margin: 0px 25px;
}
#menu .item a{
    color: aqua;
    text-decoration: none;

}

#actions{

    display:flex;

}
#actions .item{
    margin-left: 22px;
}
#actions .item img{
    height: 100px;
    width: 100px;
}



#banner {
    width: 100%;
    background-image: url('picture/pexels-rodion-kutsaiev-9436715-2.jpg');
    height: 463px ;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
} 

#banner .box-left, #banner .box-right{
    width: 50%;
}

#banner .box-left h2{
    font-size: 48px;
    margin-top: 75px;
    color: aliceblue;
}

#banner .box-left p{
    color: rgb(255, 205, 5);
}

#banner .box-left button{
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: black;
    border: none;
    outline: none;
    color:aliceblue ;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

#banner .box-left button:hover{
    background: orange;
}

#banner .box-right{
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .box-right img{
    margin: 0px 10px;
    animation: animation 3s infinite linear;
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}

#banner .box-right img:nth-child(2)
{
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px );
    }
}

.to-bottom{
    position: absolute;
    color: red;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.to-bottom a img{
    height: 50px;
    width: 50px;
}

#wp-products{
    padding-top: 116px;
    padding-bottom: 78px;
    /*padding-left: 134px;*/
    /*padding-right: 134px;*/
}
#list-products .item img{
    height: 225px;
    width: 225px;
    display: block;
    margin: 0px auto;
    margin-top: 17px;
}
#list-products .stars{
    display: flex;
    margin: 0px auto;
}
#wp-products h2{
    text-align: center;
    margin-bottom: 76px;
    font-size: 32px;
    color: aqua;
}

#list-products{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item{
    width: 290px;
    height: 500px;
    background: #00ffbf ;
    border-radius: 15px;
}
#list-products .stars img{
    height: 50px;
    width: 50px;
}
